{% extends 'base/base.html' %}

{% load static %}

{% block custom-style %}
<link rel="stylesheet" href="{% static 'friends/friend_list_style.css' %}?{% now 'U' %}">
{% endblock %}

{% block title %}
  Friend Requests
{% endblock %}


{% block main %}
<form action="#" id="friend-search">
  <input type="text">
  <input type="submit" value="search">
</form>

<div id="friend-list">
  <h2>Friend Requests</h2>

  {% for friend in friend_request %}
  <div class="friend">
    <div class="friend-profile">
      <a href="{% url 'post:friend-profile' friend.username %}" class="avatar-link">
        <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
      </a>
      <a href="{% url 'chat:chat_friend' friend.username %}" class="profile-link">
        <span class="profile-name">{{ friend.first_name }} {{ friend.user.last_name }}</span>
        <span class="profile-username">@{{ friend.username }}</span>
      </a>
    </div>
    <a href="{% url 'chat:accept-friend-request' friend.username %}">
      {% include 'includes/accept.html' %}
    </a>
  </div>
  {% endfor %}
  
</div>
{% endblock %}
