<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %} 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock %}
  </title>
  <link rel="stylesheet" href="{% static 'base/base_style.css' %}">
  {% block custom-style %}
  {% endblock %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const burger_bttn = document.getElementById('burger-button');
      burger_bttn.addEventListener('click', () => {
        const nav = document.querySelector('nav');
        
        if (getComputedStyle(nav).display == 'block') {
          nav.style.display = 'none';
        } else {
          nav.style.display = 'block';
        }
      });

      // console.log(document);
      
      // document.querySelector('ht').addEventListener('click', () => {
      //   const nav = document.querySelector('nav');
      //   if (getComputedStyle(nav).display == 'block') {
      //     nav.style.display = 'none';
      //   }
      // })
    })


  </script>
</head>
<body>
  <div id="body-container">
    <header>
      <div id="left-header">
        <button id="burger-button">
          <div id="burger"></div>
        </button>
        <div id="app-name">
          <a href="">Konnet</a>
        </div>
      </div>
      <div id="auth">
        {% if user.is_authenticated %}
        <a href="{% url 'auth:logout' %}">{{ user.username }} <br> logout</a>
        {% else %}
        <a href="">login</a>
        {% endif %}
      </div>
    </header>
    
    <div id="container">
      <nav>
        <div class="nav-item">
          <a href="{% url 'chat:home' %}">
            <span>Chats</span><span class="notify-no">99</span>
          </a>
        </div>

        <div class="nav-item">
          <a href="{% url 'post:home' %}">
            <span>Posts</span><span class="notify-no">99</span>
          </a>
        </div>

        <div class="nav-item">
          <a href="{% url 'post:profile' %}">
            <span>Profile</span>
          </a>
        </div>

        <div class="nav-item">
          <a href="{% url 'chat:friends' %}">
            <span>Friends</span><span class="notify-no">99</span>
          </a>
        </div>

        <div class="nav-item">
          <a href="">
            <span>Friend Requests</span><span class="notify-no">99</span>
          </a>
        </div>
      </nav>
  
      <main>
        {% block main %}
        {% endblock %}
      </main>
  
      <aside id="right">
      </aside>
    </div>
  </div>
</body>
</html>