{% extends 'base/base.html' %} 

{% block title %}
Post
{% endblock %}

{% block custom-style %}
{% load static %}
<link rel="stylesheet" href="{% static 'post/new-style.css' %}">
{% endblock %}

{% block main %}
  <style>
    #user-post-form {
      display: flex;
      max-height: 50vh;
      flex-direction: column;
      gap: 1rem;
      border-bottom: 2px solid #e7e9ea;
    }

    #textbox {
      padding: 1rem;
      min-height: 3rem;
      border: 2px solid var(--margin-color);
      line-height: 3rem;
      color: #e7e9ea;
      width: calc(100vw - 45vw);
      font-size: 2.5rem;
      overflow: auto;
      cursor:auto
    }

    #textbox[contenteditable]:empty::before {
      content: "Write your post here";
      color: #e7e9ea;
      opacity: 0.3
    }

    #textbox::-webkit-scrollbar {
      width: 0;
    }

    #post-bttn {
      padding: .8rem;
      margin: 0 1rem 0 0;
      height: fit-content;
      width: fit-content;
      background:#1d9bf0;
      color: #e7e9ea;
      align-self: flex-end;
      cursor: pointer;
      font-size: 2rem;
    }
  </style>
  <form action="#" id="user-post-form">
    <!-- <input type="text"> -->
    <div contenteditable role="textbox" id="textbox"></div>
    <input id='post-bttn' type="submit" value="Post">
  </form>
  
  <div id="post-list">
    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>
  </div>
{% endblock %}