<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Authentication</title>
  <link rel="stylesheet" href="{% static 'auth-template/style.css' %}">
  <style>
    h2 {
      margin-top: 1rem;
      font-size: 3.5rem;
      text-align: center;
      padding-bottom: 2rem;
      color: var(--message-color);
    }

    h3 {
      border-bottom: 4px solid var(--body-font-color)
    }

    main {
      padding: 4rem;
    }
  </style>
 
</head>
<body>
  <div id="body-container">
    <header>
      <div id="left-header">
        <div id="app-name">
          <a href="">Konnet</a>
        </div>
      </div>
    </header>
    
    <div id="container">
      <main>
        {% for message in messages %}
        <h2 class="message">{{ message }}</h3>
        {% endfor %}
        <h3>Login</h3>
        <form action="{% url 'auth:login' %}" method="post">
          {% csrf_token %}
          <div class="info-div">
            <input class="info" type="text" placeholder="Username" name="username" required>
            <label for="">Username</label>
          </div>
          
          <div class="info-div">
            <input class="info password" type="password" placeholder="Password" name="password" required>
            <span class="visibility">show</span>
            <label for="">Password</label>
          </div>

          <input type="submit" value="Login" class="rounded">
          <div id='auth-text'>Already have an account?</div>
          <a href="{% url 'auth:register' %}" class="login-redirect rounded">
            Sign up
          </a>
        </form>
      </main>
    </div>
  </div>
</body>
<script>
  const message = document.querySelector('.message');
  setTimeout(() => {
    message.style.display = 'none';
  }, 2000);

  
  const password = document.querySelector('.password');
  const visibility = document.querySelector('.visibility');

  visibility.addEventListener('click', () => {
    if (password.type === 'password') {
      password.type = 'text';
      visibility.innerText = 'hide';
    } else {
      password.type = 'password';
      visibility.innerText = 'show';
    }
  })

</script>
</html>