<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Register - Authenication</title>
  <link rel="stylesheet" href="{% static 'auth-template/style.css' %}">
  <link rel="stylesheet" href="{% static 'auth-template/register-style.css' %}">
  <style>
    /* h2 {
      margin-top: 1rem;
      font-size: 3.5rem;
      text-align: center;
      padding-bottom: 1rem;
      color: var(--message-color);
    }
    
    h3 {
      border-bottom: 4px solid var(--body-font-color)
    }

    main {
      padding: .6rem;
    } */
  </style>
</head>
<body>
  <div id="body-container">
    <header>
      <div id="left-header">
        <div id="app-name">
          <a href="">Konnet</a>
        </div>
      </div>
    </header>
    
    <div id="container">
      <main>
        {% for message in messages %}
        <h2 class="message">{{ message }}</h2>
        {% endfor %}

        <h3>Register</h3>
        <form action="{% url 'auth:register' %}" method="post">
          {% csrf_token %}
          <div class="info-div">
            <input name="username" class="info" type="text" autocomplete="off" placeholder="Username" required>
            <label for="">Username</label>
          </div>

          <div class="info-div">
            <input name="email" class="info" type="email" autocomplete="off" placeholder="Email" required>
            <label for="">Email</label>
          </div>

          <div class="info-div">
            <input name="first_name" class="info" type="text" autocomplete="off" placeholder="First name" required>
            <label for="">First name</label>
          </div>

          <div class="info-div">
            <input name="last_name" class="info" type="text" autocomplete="off" placeholder="Last Name" required>
            <label for="">Last Name</label>
          </div>

          <div class="info-div pwd-div">
            <input name="password1" class="info password" type="password" autocomplete="off" placeholder="Password" required>
            <span class="visibility">show</span>
            <label for="">Password</label>
          </div>

          <div class="info-div pwd-div">
            <input name="verify-password" class="info password" type="password" autocomplete="off" placeholder="comfirm password" required>
            <span class="visibility">show</span>
            <label for="">Verify password</label>
          </div>

          <input type="submit" value="Create Account" class="rounded">
          <div id='auth-text'>Already have an account?</div>
          <a href="{% url 'auth:login' %}" class="login-redirect rounded">
            Sign In
          </a>
        </form>
      </main>
    </div>
  </div>
</body>
<script>
  const message = document.querySelector('.message');
    setTimeout(() => {
      message.style.display = 'none';
    }, 2000);

  const elements = document.querySelectorAll('.pwd-div');

  elements.forEach(element => {
    const visibility = element.querySelector('.visibility');
    const password = element.querySelector('.password');

    visibility.addEventListener('click', () => {
      if (password.type === 'password') {
        password.type = 'text';
        visibility.innerText = 'hide';
      } else {
        password.type = 'password';
        visibility.innerText = 'show';
      }
    })
  })

</script>
</html>