a {
  color: white;
  text-decoration: none;
}

.follow-friend {
  width: fit-content;
  height: fit-content;
  padding: .5rem 1rem;
  font-size: 1.8rem;
  box-sizing: content-box;
  border-radius: 2rem;
  background: var(--bttn-background);
}

.dots {
  position: relative;
  width: .5rem;
  height: .5rem;
  border-radius: 50%;
  background: var(--body-font-color);
}

.dots::before,
.dots::after {
  content: '';
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background: var(--body-font-color);
}

.dots::before {
  left: -1rem;
}

.dots::after {
  right: -1rem;
}

.menu-bttn {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  /* bottom: -35rem; */
  border-radius: 50%;
}

.menu-bttn:hover,
.visited {
  background: var(--bttn-background);
  cursor: pointer;
}

.menu-bttn .menu {
  display: none;
  position: absolute;
  width: fit-content;
  height: fit-content;
  right: 5rem;
  background: black;
}

.menu-value {
  color: white;
  margin: 1rem;
  padding: 1rem 2rem;
  font-size: 2rem;
  background: #181616;
  border-radius: 2rem;
}

