<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konnet</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <link rel="stylesheet" href="{% static 'base_style.css' %}">
  {% block style %} 
  {% endblock %} 
</head>
<body>
  <header>
    <div id="auth">
      {% if user.is_authenticated %} 
      <div class="image"></div>
      <div class="login">
        <a href="">{{ user.username }}</a>
        <br>
        <a href="{% url 'auth:logout' %}">logout</a>
      </div>
      {% else %}
      <div class="image"></div>
      <div class="login">
        <a href="{% url 'auth:login' %}">Login</a>
      </div>
      {% endif %}
    </div>
  </header>
  <div id="container">
    <aside id="left">
      <div>
        <p>Chats</p>
        <span id="unread-chats"></span>
      </div>
      <div>
        <p>Friends</p>
        <span id="friend-no"></span>
      </div>
      <div>
        <p>Group Chats</p>
        <span id="group-no">99</span>
      </div>
      <div>
        <p>Friend Requests</p>
        <span>99</span>
      </div> 
    </aside>
    <main>
      {% block main %} 
      {% endblock %} 
    </main>
    <aside id="right">
      <div id="right-div">
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
        <p><b>david</b> sent a new message</p>
      </div>
    </aside>
  </div>
  <script>
    $.ajax({
      method: 'get',
      url: "{% url 'chat:no_friends' %}",
      success: (res) => {
        setInterval(() => {
          $("#friend-no").html(res.no_of_friends);
        }, 1000)
      }
    });

    $.ajax({
      method: 'get',
      url: "{% url 'chat:unreads' %}",
      success: (res) => {
        setInterval(() => {
          $("#unread-chats").html(res.unread_messages);
        }, 2000);
      }
    });

    $.ajax({
      method: 'get',
      url: "{% url 'chat:no_groups' %}",
      success: (res) => {
        setInterval(() => {
          $("#group-no").html(res.no_chatgroup);
        }, 2000);
      }
    })
  </script>
</body>
</html>