{% extends 'base/base.html' %} 
<!-- <!DOCTYPE html>
<html lang="en">
<head>
  {% load static %} 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const burger_bttn = document.getElementById('burger-button');
      burger_bttn.addEventListener('click', () => {
        const nav = document.querySelector('nav');
        
        if (getComputedStyle(nav).display == 'block') {
          nav.style.display = 'none';
        } else {
          nav.style.display = 'block';
        }
      });

      const chat_message = document.querySelector('#chat-message');
      // scroll to the bottom of the chat messages
      chat_message.scrollTo(0, chat_message.scrollHeight);

      console.log(document);
      
      // document.querySelector('ht').addEventListener('click', () => {
      //   const nav = document.querySelector('nav');
      //   if (getComputedStyle(nav).display == 'block') {
      //     nav.style.display = 'none';
      //   }
      // // })

      // const main = document.querySelector('main');
      // let chat_form = document.querySelector('#chat-form');
      // chat_form.style.width = getComputedStyle(main).width;;
    })


  </script>
</head>
<body>
  <div id="body-container">
    <header>
      <div id="left-header">
        <button id="burger-button">
          <div id="burger"></div>
        </button>
        <div id="app-name">
          <a href="">Konnet</a>
        </div>
      </div>
      <div id="auth">
        <a href="">login</a>
      </div>
    </header>
    
    <div id="container">
      <nav>
        <div class="nav-item">
          <a href="#">
            <span>Chat</span><span class="notify-no">99</span>
          </a>
        </div>

        <div class="nav-item">
          <a href="">
            <span>Posts</span><span class="notify-no">99</span>
          </a>
        </div>

        <div class="nav-item">
          <a href="{% url 'chat:friends' %}">
            <span>Friends</span><span class="notify-no">99</span>
          </a>
        </div>

        <div class="nav-item">
          <a href="">
            <span>Friend Requests</span><span class="notify-no">99</span>
          </a>
        </div>
      </nav>
  
      <main>
        <div id="profile-info">
          <div id="profile">
            <img src="./blank-profile-pics.png" alt="blank pics">
            <div id="username">David</div>
          </div>

          <button id="burger-button">
            <div id="burger"></div>
          </button>
        </div>

        <div id="chat-message">
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">
            Hello world I'm happy you get back to me 
            Hello world I'm happy you get back to me 
          </div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="receiver">
            I'm happy you get back to me I'm happy you get back to me I'm happy you get back to me
          </div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
          <div class="sender">Hello world</div>
          <div class="receiver">I'm happy you get back to me</div>
        </div>

        <form action="" id="chat-form">
          <input type="text">
          <input type="submit" value="send">
        </form>
      </main>
  
      <aside id="right">
      </aside>
    </div>
  </div>
</body>
</html> -->
{% block title %}
  chats
{% endblock %}

{% block main %} 
<div id="profile-info">
  <div id="profile">
    <img src="./blank-profile-pics.png" alt="blank pics">
    <div id="username">{{ friend_profile.username }}</div>
  </div>

  <button id="burger-button">
    <div id="burger"></div>
  </button>
</div>

<div id="chat-message">
  {% for msg in messages %}
  {% if msg.sender.username == user.username %}
  <div class="sender">{{ msg.text }}</div>
  {% endif %} 
  {% if msg.sender.username == friend_profile.username %}
  <div class="receiver">{{ msg.text }}</div>
  {% endif %} 
  {% endfor %} 
</div>

<form action="{% url 'chat:chat_friend' friend_profile.username %}" id="chat-form" method="post">
  {% csrf_token %} 
  <input type="text" name="msg">
  <input type="submit" value="send">
</form>

<script>
  const chat_form = document.querySelector("#chat-form");
  const input_text = document.querySelector("input[type=text]");
  console.log(input_text);
  const submit_bttn = document.querySelector('input[type=submit]');
  console.log(submit_bttn);
  submit_bttn.addEventListener('click', () => {
    console.log(input_text);
  });

</script>
{% endblock %} 