:root {
  --margin-color: #181616;
  --form-background-color: #181616;
}

/* ---------------other style-------------- */

#user-post-form {
  display: flex;
  max-height: 50vh;
  background: var(--form-background-color) !important;
  flex-direction: column;
  gap: 1rem;
  border-bottom: 2px solid #e7e9ea;
}

#textbox {
  padding: 1rem;
  min-height: 3rem;
  border: 2px solid var(--margin-color);
  line-height: 3rem;
  color: #e7e9ea;
  width: calc(100vw - 45vw);
  font-size: 2.5rem;
  overflow: auto;
  cursor:auto
}

#textbox[contenteditable]:empty::before {
  content: "Write your post here";
  color: #e7e9ea;
  opacity: 0.3
}

#textbox::-webkit-scrollbar {
  width: 0;
}

#post-bttn {
  padding: .8rem;
  margin: 0 1rem 0 0;
  height: fit-content;
  width: fit-content;
  background:#1d9bf0;
  color: #e7e9ea;
  align-self: flex-end;
  cursor: pointer;
  font-size: 2rem;
}

#post-list {
  display: flex;
  height: 78vh;
  flex-direction: column;
  gap: 2rem;
  color: var(--body-font-color);
  margin: 2rem;
  font-size: 2rem;
  background: inherit;
  overflow: auto;
  /* border: 2px solid var(--body-font-color) */
}

#post-list::-webkit-scrollbar {
  width: 0;
}

.post-profile {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.profile-link {
  color: var(--body-font-color);
  text-decoration: none;
}

.posts {
  padding-bottom: 2rem;
  border-bottom: 2px solid var(--body-font-color);
}

.reactions {
  display: flex;
  padding: 1rem 0;
  justify-content: space-around;
  border-bottom: 2px solid var(--body-font-color);
}

.reactions span a {
  color: var(--body-font-color);
  text-decoration: none;
}

.reactions span a:hover,
.reactions span a:active {
  color: #002fff
}