{% extends 'base/base.html' %} 

{% block title %}
Post
{% endblock %}

{% load static %}

{% block custom-style %}
<link rel="stylesheet" href="{% static 'post/new-style.css' %}">

{% endblock %}

{% block main %}
  <form action="#" id="user-post-form">
    <!-- <input type="text"> -->
    {% csrf_token %}
    <div contenteditable role="textbox" id="textbox"></div>
    <input id='post-bttn' type="submit" value="Post">
  </form>
  
  <div id="post-list">
    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>

    <div class="post">
      <div class="post-profile">
        <a href="" class="avatar-link">
          <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
        </a>
        <a href="" class="profile-link">
          <span class="profile-name">David</span>
          <span class="profile-username">@davidjoy</span>
        </a>
        <span>.</span>
        <span>17hrs</span>
      </div>
      <div class="posts">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Velit repellendus recusandae explicabo, voluptatem non ipsam minima reprehenderit earum odio debitis porro, deleniti id facilis. Dicta sint enim autem esse cum.
      </div>
      <div class="reactions">
        <span><a href="#">like</a></span>
        <span><a href="#">comment</a></span>
      </div>
    </div>
  </div>
  <script>
    $('#user-post-form').submit(
      (e) => {
        e.preventDefault();

        var CSRF_token = $('input[name=csrfmiddlewaretoken]').val();

        var data = document.querySelector('#textbox').innerText;

        $.post('post:home', {
          post: data,
          csrfmiddlewaretoken: CSRF_token
        });
        console.log(data);
        console.log(CSRF_token);
        document.querySelector('#textbox').innerText = '';
      }
    );
    // const user_post_form = document.querySelector("#user-post-form");
    // user_post_form.addEventListener('submit', (e) => {
    //   e.preventDefault();
    //   const textbox = document.querySelector("#textbox");
    //   let textbox_text = textbox.innerText;
    //   if (textbox_text) {
    //     console.log(textbox_text);
    //     textbox.innerText = '';
    //   }
    //   $.ajax({
    //     url: "{% url 'post:home' %}",
    //     method: 'post',
    //     success: (data, status) => {
    //       {post: textbox}
    //       console.log(data, status);
    //     }
    //   });
    // });
  </script>
{% endblock %}