<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %} 
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Authentication</title>
  <link rel="stylesheet" href="{% static 'auth_style.css' %}">
</head>
<body>
  <header>
  </header>
  <div id="container">
    <main>
      <h1 id="login">Login</h1>
      <form action="{% url 'auth:login' %}" method="post">
        {% csrf_token %} 
        <div class="user-input">
          <label for="username">Username</label>
          <input type="text" id="username" name="username" placeholder="Username or Email" autocomplete="off" required>
        </div>

        <div class="user-input">
          <label for="password">Password</label>
          <input type="password" id="password" name="password" placeholder="Password" autocomplete="off" required>
        </div>

        <input id="submit" type="submit" value="Login">
      
        <div id="or-login"><a href="{% url 'auth:register' %}">Register</a></div>
      </form>
    </main>
  </div>
</body>
</html>