{% extends 'base/base.html' %}

{% load static %}

{% block title %}
  Friend Requests
{% endblock %}


{% block main %}
<form action="#" id="friend-search">
  <input type="text">
  <input type="submit" value="search">
</form>

<div id="friend-list">
  {% for friend in friend_requests %}
  <div class="friend">
    <div class="friend-profile">
      <a href="{% url 'post:friend-profile' friend.user %}" class="avatar-link">
        <img src="{% static 'blank-profile-pics.png' %}" alt="blank profile pics">
      </a>
      <a href="{% url 'chat:chat_friend' friend.user.username %}" class="profile-link">
        <span class="profile-name">{{ friend.user.first_name }} {{ friend.user.last_name }}</span>
        <span class="profile-username">@{{ friend.user.username }}</span>
      </a>
    </div>
    {% include 'includes/frnd-menu-bttn.html' %}
  </div>
  {% endfor %}
  
</div>
{% endblock %}
